@charset "UTF-8";

@import
  "global/partials/_colors",
  "global/partials/_theme",
  "settings";

@import
  "../bower_components/foundation/scss/foundation/_functions",
  "../bower_components/foundation/scss/normalize",
  "../bower_components/foundation/scss/foundation/components/grid",
  "../bower_components/foundation/scss/foundation/components/side-nav",
  "../bower_components/foundation/scss/foundation/components/buttons",
  "../bower_components/foundation/scss/foundation/components/forms",
  "../bower_components/foundation/scss/foundation/components/visibility",
  "../bower_components/foundation/scss/foundation/components/type";

// Global styles
@import
  "global/partials/colors",
  "global/partials/fonts",
  "global/partials/mixins",
  "global/partials/theme",
  "global/partials/base",
  "global/partials/elements",
  "global/partials/form",
  "global/partials/icons",
  "global/partials/nav",
  "global/partials/sidebar",
  "global/partials/typography";

// Enterprise styles
@import
  "enterprise/base",
  "enterprise/colors",
  "enterprise/elements",
  "enterprise/nav",
  "enterprise/lists",
  "enterprise/sidebar";

.fullWidth {
   width: 100%;
   margin-left: auto;
   margin-right: auto;
   max-width: initial;
}

.list-group {
  background-color: #D2D2D2;
  color: #7F8080;
  border-color: #c3c3c3;
}

.page {
  background-color: #D2D2D2;
  color: #7F8080;
  border-color: #c3c3c3;
  padding: 25px;
}