// Blues
$enterpriseLightestBlue: #CAC4E0;
$enterpriseLightBlue: #A193C4;
$enterpriseBlue: #61479C;
$enterpriseDarkBlue: #3A2C5C;

// Neutrals
// nearWhite = F0F0F0 as seen in global colors
$enterprisewhiteGrey: #E6E6E6;
$enterpriseLightGrey: #DCDCDC;
$enterpriseMediumGrey: #C8C8C8;
$enterpriseMediumDarkGrey: #AAAAAA;
$enterpriseDarkGrey: #969696;
$enterpriseDarkerGrey: #7E7E7E;
$enterpriseNearBlack: #282828;
$enterpriseFontGrey: #7F8080;

// Greens
$enterpriseGreen: #56B49B;

// Other
$enterpriseTableHeader: #D2D2D2;
$enterpriseOddListItem: #DCDCDC;
$enterpriseEvenListItem: #E6E6E6;
$enterpriseSidebarOddItem: #C8C8C8;
$enterpriseSidebarEvenItem: #D2D2D2;



