.enterprise {
  .lists {
    .list {
      .k-grid {
        border-top: 0;
        border-right: 0;
        border-left: 0;
        border-bottom: 0;
      }
      .k-grid-header-wrap {
        border-right: 0;
      }
      .k-grid-header, .k-pager-wrap, .k-header, .k-grid td {
        border-color: lighten($enterpriseMediumDarkGrey, 10%);
      }
      .k-grid-content {
        background-color: $enterpriseTableHeader;
      }
      .k-pager-wrap {
        background-color: $enterpriseTableHeader;
        > .k-link {
          background-color: $enterpriseMediumDarkGrey;
        }
      }
      .k-pager-numbers {
        li {
          span.k-state-selected {
            background-color: $wow;
            color: $nearWhite;
          }
        }
      }
      .k-pager-info {
        color: $paleGrey;
      }
    }
    .project-table {
      /* tbody td:last-child {
        background-color: $enterpriseMediumGrey;
      } */
      .running {
        background-color: $enterpriseGreen;
      }
      .stopped {
        background-color: $wow;
      }
      .deploying {
        background-color: $yellow;
      }
    }
    table {
      width: 100%;
      thead {
        background-color: $enterpriseTableHeader;
        //border-bottom: 1px solid darken($darkerGrey, 6%);
        color: $enterpriseFontGrey;
        th.k-header {
          background-color: $enterpriseTableHeader;
          > .k-link {
            color: $enterpriseFontGrey;
          }
        }
      }
      tr {
        border-color: $enterpriseMediumGrey;
        background-color: $enterpriseOddListItem;
        &:nth-child(even) {
          background-color: $enterpriseEvenListItem;
        }
        th, td {
          color: $enterpriseFontGrey;
          a {
            color: $enterpriseBlue;
          }
        }
      }
      .k-grid {
        td {
          border-color: $enterpriseMediumGrey;
        }
      }
    }
  }
}