.enterprise {
  .interior-nav {
    position: relative;
    min-height: 65px;
    margin-bottom: 20px;
    background-color: $enterpriseMediumGrey;
    section {
      .notifications {
        background-color: $enterpriseMediumDarkGrey;
      }

      .create-project {
        background-color: $wow;
      }

      .search {
        input {
          background-color: $enterpriseLightGrey;
        }
      }
    }
  }

  .navbar-default .navbar-toggle {
    background-color: $wow;
    &:hover {
      background-color: $wow;
    }

    &:focus {
      background-color: $wow;
    }

    &.collapsed {
      background-color: $enterpriseDarkerGrey;
    }

    .icon-bar {
      background-color: $nearWhite;
    }
  }

  .users.col-xs-3 {
    color: $enterpriseBlue;
  }

  // #nav {
  //   a {
  //     &:active, &:focus {
  //       color: $nearWhite;
  //     }
  //   }

  //   ul {
  //     li {
  //       &:hover {
  //         color: $wow;
  //       }

  //       &.highlight a {
  //         color: $green;
  //         &:hover {
  //           color: $wow;
  //         }
  //       }

  //       @include respond-to(small) {
  //         &:nth-child(odd) {
  //           background-color: $darkerGrey;
  //         }

  //         &:nth-child(even) {
  //           background-color: $darkestGrey;
  //         }
  //       }
  //     }
  //   }

  // }

  // .quick-contact {
  //   .question {
  //     background-color: $wow;
  //     color: $fadedRed;
  //   }
  //   &.active {
  //     .question {
  //       background-color: $lightGrey;
  //       .icon-comment2 {
  //         color: $wow;
  //       }
  //     }
  //   }

  //   form, .overlay {
  //     background-color: $lightGrey;
  //   }
  // }
}