.enterprise {
  .sidebar {
    ul {
      li {
        > span, a {
          color: $enterpriseFontGrey;
        }
      }
      input {
        color: $grey;
        background-color: $darkerGrey;
      }
      .odd {
        background-color: $enterpriseSidebarOddItem;
      }
      .even {
        background-color: $enterpriseSidebarEvenItem;
      }
      .link-block {
        // &:hover {
        //   background-color: $darkWow;
        //   a {
        //     color: $darkerGrey;
        //   }
        // }
      }
      .expand-block {
        cursor: pointer;
        // &:hover {
        //   background-color: $sidebarOddItem;
        // }
      }
      .welcome-block {
        // &:hover {
        //   background-color: $sidebarEvenItem;
        // }
      }
      .help-block {
        background-color: $wow;
        // &:hover {
        //   background-color: $sidebarOddItem;
        //   a {
        //     color: $paleGrey;
        //   }
        // }
      }
      .faq-block {
        background-color: $darkWow;
        // &:hover {
        //   background-color: $sidebarEvenItem;
        //   a {
        //     color: $paleGrey;
        //   }
        // }
      }
      .search-block {
        display: none;
        form {
          width: 95%;
          margin: 0 auto;
          text-align: center;
        }
        &:hover {
          background-color: $enterpriseSidebarOddItem;
        }
      }
      .help-block, .faq-block {
        a {
          color: $darkerGrey;
          // &:hover {
          //   color: $paleGrey;
          // }
        }
      }
    }
  }
}
