<body class="enterprise">
  <div class="container">
    <div class="row fullWidth">
      <header>
        <nav class="interior-nav navbar navbar-default" id="nav">
          <div class="navbar-header medium-3 small-12 column">
            <a class="interior-logo" href="/">
              <h1></h1>
            </a>
          </div>
          <div class="users medium-3 medium-offset-3 column hide-for-small-only">
            <span data-hook="username">Admin Tool</span>
          </div>
          <section>
            <div class="nav-item nav-search">
              <div class="search">
          <form>
            <div><input id="search-box" type="text" placeholder="Search..."></div>
          </form>
        </div>
            </div>
            <div class="nav-item notifications">

            </div>
            <div class="nav-item create-project">

            </div>

        </section></nav>
      </header>
    </div>

      <div class="medium-2 column sidebar">
        <ul class="collapse navbar-collapse" id="sidebar-buttons">
          <li class="link-block expand-block odd"></li>
          <li class="link-block welcome-block even">
            <span>Hey, <span data-hook="username">maaaaan</span></span>
          </li>
          <li class="link-block expand-block odd"><a href="/">home</a></li>
          <li class="link-block expand-block even"><a href="/hosts">hosts</a></li>
          <li class="link-block expand-block odd"><a href="/hosts/config">host config</a></li>
          <li class="link-block expand-block even"><a href="/servos">servos</a></li>
          <li class="link-block expand-block odd"><a href="/projects">projects</a></li>
          <li class="link-block expand-block even"><a href="/info">more info</a></li>
          <li class="divider"></li>
          <li class="link-block expand-block odd"><a href="/logout">Logout</a></li>
        </ul>
      </div>
      <div class="medium-10 column">
        <div class="content">
          <main data-hook="page-container"></main>
        </div>
    </div>
</body>


