<tr>
  <td>
    <a href="/hosts/{{model.id}}">{{ model.idPt1 }}</a></td>
  <td>
    {{ model.name }}
  </td>
  <td>{{ model.prettyDisabled }}</td>
  <td>{{ model.ip }}</td>
  <td>
    {{ model.iaas }}
  </td>
  <td>{{ model.region }}</td>
</tr>