<tr>
  <td>
    <a href="/projects/{{model.id}}">{{ model.id }}</a></td>
  <td>
    {{ model.creator }}
  </td>
  <td>{{ model.created_date }}mb</td>
  <td>{{ model.puCount }}</td>
  <td>
    {{ model.iaas }}
  </td>
  <td>{{ model.servoSize }}</td>
</tr>