<div class="form-group">
  <label data-hook="label" class="control-label"></label>
  <div data-hook="message-container">
    <div data-hook="message-text" class="alert alert-danger form-horizontal"></div>
  </div>
  <button name="button" class="generate btn-xs pull-right">Generate</button>
  <input class="form-control"/>
</div>
