<section class="page">
  <div class="conf-header">
    <h2 style="display: inline;">Configuration</h2>
    <button data-hook="default" class="btn-xs pull-right" name="button">Defaults</button>
    <form class="upload-form" action="/api/upload" method="post">
      <input class="up btn btn-xs pull-right" type="submit" name="submit" value="Upload">
      <input type="file" name="name" data-hook="upload" class="upload btn-file pull-right" value="">
    </form>

  </div>
  <form data-hook="config-form">
    <div data-hook="field-container" class="fields form-group"></div>
    <div class="form-actions">
      <!-- <button data-hook="download-sup" name="download-sup" class="button" style="margin-top: 6px;">Download Supervisor</button> -->
      <button class="button">Apply</button>
    </div>
  </form>
</section>
