<section class="page edit-host">
  <h2>Edit Host</h2>

  <form data-hook="host-form">
    <fieldset data-hook="field-container">
    </fieldset>
    <div class="buttons">
      <button type="submit" class="btn expand" data-hook="submit">Submit</button>
    </div>
  </form>
</section>
