<section class="page pageOne">
  <div class="header-blocks">
    <h2>Hosts:</h2>
  </div>

  <div class="row list host-table">
    <table id="hosts">
      <thead>
        <tr>
          <th>
            Host ID
          </th>
          <th data-field="name" id="name">
            Name
          </th>
          <th data-field="size" id="servoSize">
            Status
          </th>
          <th data-field="count" id="puCount">
            IP
          </th>
          <th data-field="accrued" id="accrued">
            IAAS
          </th>
          <th data-field="owner" id="owner">
            Region
          </th>
        </tr>
      </thead>
      <tbody data-hook="host-list"></tbody>
    </table>
  </div>
</section>
