<section class="page view-host">
  <div data-hook="server-drop-down"></div>

  <div class="row">
    <div class="medium-12 column">
      <h2 data-hook="hostID"></h2>
    </div>
  </div>


  <div class="row">
    <div class="medium-6 column">
      Name: <span data-hook="hostName"></span>
    </div>
    <div class="medium-6 column">
      {{#if model.disabled}}
        <span data-hook="disabledButton" id="disabledButton" class="button alert"></span>
      {{else}}
        <span data-hook="disabledButton" id="disabledButton" class="button success"></span>
      {{/if}}
      <span data-hook="editButton" id="editButton" class="button secondary">Edit</span>
    </div>
  </div>

  <div class="row">
    <div class="medium-6 column">
      IP: <span data-hook="hostIP"></span> <br />
      Pu Status: <span data-hook="hostNumberOfPus"></span> / <span data-hook="hostPuAvailable"></span> <br />
    </div>
    <div class="medium-6 column">
      IAAS: <span data-hook="hostIAAS"></span>  <br />
      Host Region: <span data-hook="hostRegion"></span> <br />
      Container Type: <span data-hook="hostContainerType"></span> <br />
    </div>
  </div>

  <div class="row">
    <div class="medium-6 column">
      <h2>Pu IDs:</h2> <ul id="puIDs" data-hook="hostPuIDs"></ul>
    </div>
    <div class="medium-6 column">
      <h2>Other info stuff</h2>
        Deleted on: <span data-hook="hostDeletedOn"></span> <br />
        Disabled: <span data-hook="hostDisabled"></span>  <br />
        IP: <span data-hook="hostIP"></span>  <br />
        Proxy: <span data-hook="hostProxy"></span>  <br />
        Pu Available: <span data-hook="hostPuAvailable"></span> <br />
        Pu IDs: <ul data-hook="hostPuIDs"></ul>
        Host Region URL: <span data-hook="hostRegionURL"></span>  <br />
    </div>
  </div>
</section>
