<div class="row">
  <form class="medium-10 columns">
    <fieldset>
      <legend>Login</legend>
      <label>Username
        <input type="text" data-hook="username">
      </label>
      <label>Password
        <input type="password" data-hook="password">
      </label>
      <button type="submit" class="button" data-hook="submit">Login</button>
    </fieldset>
  </form>
</div>