<section class="page pageOne">

  <div class="row lists">
  <div class="header-blocks project-header">
    <h2>Projects</h2>
    <div data-hook="search-container"></div>
  </div>
  <div class="row list project-table">
    <table id="projects">
      <thead>
        <tr>
          <th>
            Project ID
          </th>
          <th data-field="name" id="name">
            Creator ID
          </th>
          <th data-field="size" id="servoSize">
            Size
          </th>
          <th data-field="count" id="puCount">
            PuCount
          </th>
          <th data-field="accrued" id="accrued">
            Accured
          </th>
          <th data-field="owner" id="owner">
            Owner
          </th>
        </tr>
      </thead>
      <tbody data-hook="project-list"></tbody>
    </table>
  </div>
</div>
</section>