<section class="page view-project">
  <div data-hook="server-drop-down"></div>
  <h2 data-hook="projectID"></h2>
  ProjectID: <span data-hook="projectID"></span> <br />
  autoSSLRedirect: <span data-hook="autoSSLRedirect"></span> <br />
  created_date: <span data-hook="created_date"></span>  <br />
  creator: <span data-hook="creator"></span>  <br />
  deployOptions-forceNpmInstall: <span data-hook="deployOptions-forceNpmInstall"></span>  <br />
  deployOptions-registry: <span data-hook="deployOptions-registry"></span> <br />
  domain: <span data-hook="domain"></span> <br />
  filesId: <span data-hook="filesId"></span> <br />
  puCount: <span data-hook="puCount"></span> <br />
  puIds: <span data-hook="puIds"></span> <br />


  scaleIaas: <span data-hook="scaleIaas"></span> <br />
  scaleRegion: <span data-hook="scaleRegion"></span> <br />
  scaleInstances: <span data-hook="scaleInstances"></span>  <br />

  servoSize: <span data-hook="servoSize"></span>  <br />
  status: <span data-hook="status"></span>  <br />
  storageLocation: <span data-hook="storageLocation"></span>  <br />
  pus: <span data-hook="pus"></span> <br />
  addonVars: <span data-hook="addonVars"></span> <br />
  addOns: <span data-hook="addOns"></span> <br />
  envVars:<span data-hook="envVars"></ul><br />
  customSSL: <span data-hook="customSSL"></span> <br />
  customDomains: <span data-hook="customDomains"></span> <br />

  images-build-label: <span data-hook="images-build-label"></span> <br />
  images-build-name: <span data-hook="images-build-name"></span> <br />
  images-build-stability: <span data-hook="images-build-stability"></span> <br />
  images-build-type: <span data-hook="images-build-type"></span> <br />
  images-build-userId: <span data-hook="images-build-userId"></span> <br />
  images-build-tags: <span data-hook="images-build-tags"></span> <br />
  images-build-createdAt: <span data-hook="images-build-createdAt"></span> <br />
  images-build-official: <span data-hook="images-build-official"></span> <br />
  images-build-id: <span data-hook="images-build-id"></span> <br />

  images-run-label: <span data-hook="images-run-label"></span> <br />
  images-run-name: <span data-hook="images-run-name"></span> <br />
  images-run-stability: <span data-hook="images-run-stability"></span> <br />
  images-run-type: <span data-hook="images-run-type"></span> <br />
  images-run-userId: <span data-hook="images-run-userId"></span> <br />
  images-run-tags: <span data-hook="images-run-tags"></span> <br />
  images-run-createdAt: <span data-hook="images-run-createdAt"></span> <br />
  images-run-official: <span data-hook="images-run-official"></span> <br />
  images-run-id: <span data-hook="images-run-id"></span> <br />

</section>
