<section class="page view-servo">
  <h2 data-hook="servoID"></h2>
  servoID: <span data-hook="servoID"></span> <br />
  servoFileLocation: <span data-hook="servoFileLocation"></span> <br />
  servoIp: <span data-hook="servoIp"></span>  <br />
  servoProjectId: <span data-hook="servoProjectId"></span>  <br />
  servoSize: <span data-hook="servoSize"></span>  <br />
  servoStatus: <span data-hook="servoStatus"></span>  <br />
  servoHostId: <span data-hook="servoHostId"></span> <br />
  servoHostRegion: <span data-hook="servoHostRegion"></span> <br />
  servoHostIaas: <span data-hook="servoHostIaas"></span> <br />
  servoHostContainerType: <span data-hook="servoHostContainerType"></span> <br />
</section>
