#container {
  padding: 0;
}

.page-container {
  @include grid-row();
  position: relative;
  width: 100%;
  margin-top: 28px;
}

body {
  background-image: url('iris/img/tessell_bg.svg');
  background-size: 100% auto;
}

.header-blocks {
  height: 80px;
  padding: 0;
  margin: 0;
  h2, .search {
    display: inline-block;
  }
  h2 {
    line-height: 80px;
    height: 100%;
    text-transform: uppercase;
    margin: 0 0 0 70px;
    position: relative;
    &:before {
      content: '';
      background-repeat: no-repeat;
      background-size: 100% auto;
      height: 30px;
      width: 25px;
      position: absolute;
      top: 27px;
      left: -40px;
      vertical-align: middle;
      line-height: 100%;
    }
  }
  .search {
    float: right;
    line-height: 77px;
    vertical-align: middle;
    margin-right: 30px;
    width: 200px;
    div {
      position: relative;
      &:before {
        content: '';
        background-image: url('iris/img/search.png');
        background-repeat: no-repeat;
        height: 36px;
        width: 36px;
        position: absolute;
        top: 31px;
        left: 8px;
        vertical-align: middle;
        line-height: 100%;
      }
    }
    input {
      height: 36px;
      line-height: 36px;
      vertical-align: middle;
      width: 100%;
      border: 0;
    }
  }
}

.large-col {
  margin-top: 5px;
  padding-left: 0;
}

.small-col {
  padding-right: 0;
}

.search {
  display: none !important;
}
