$blue: #7B80A8;
$purple: #9F90C8;
$orange: #c85342;
$yellow: yellow;

// Reds
$red: #E3344D;
$paleRed: #442328;
$darkRed: #712815;
$fadedRed: #AE3E25;

// Oranges
$wow: #FF4E00;
$paleWow: #FFB897;
$darkWow: #B03F25;

// Greens
$hulk: #9AC97A;
$teal: #48E0B5; //#09D6AE, #07B794, #43B9A3,
$green: #7CC1B4; //#83C0B3, #84C1B3, #7CBCAF
$mediumGreen: #2C6C5F; //#568179
$darkGreen: #1C3B36;

// Non-Colors/Neutrals (smoke, nightfall)
$nearWhite: #F0F0F0; //#FFF, #EBEBEC, #F1F1F1, #EFEFF1, #DBDBDB
$lightGrey: #CACACB; //#CCC ,#CDCDCD, #D0D0D0, #DAD7D8
$paleGrey: #B0B0B0; //#BBB, #B1B1B1, #878787
$greyedOut: #7e7e7e;
$grey: #787878; //#888, #777
$darkishGrey: #686868; //#666, #6A6A6A, #6F6F6F, #898989
$darkerGrey: #3B3B3B; //#333, #303030, #4D4D4D, #4F4F4F, #484848, #555
$darkestGrey: #262626; //#2A2A2A
$nearBlack: #1F1F1F; //#111, #1D1D1D, #202020, #1C1C1C, #151515, #131313
$black: #0A0A0A; //#000, #0B0B0B
