.btn {
  border-radius: 0;
  background-color: $wow;
  color: $darkRed;
  &:focus {
    color: $darkRed;
  }
  &:hover {
    color: $paleWow;
  }
}

button {
  @extend .btn;
}

.section-content {
  @include grid-row();
}
