@font-face {
  font-family: 'KarlaRegular';
  src: url('../fonts/karla-regular/karla-regular-webfont.eot');
  src: url('../fonts/karla-regular/karla-regular-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/karla-regular/karla-regular-webfont.woff') format('woff'),
       url('../fonts/karla-regular/karla-regular-webfont.ttf') format('truetype'),
       url('../fonts/karla-regular/karla-regular-webfont.svg#KarlaRegular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@import url(http://fonts.googleapis.com/css?family=Titillium+Web);

@font-face {
    font-family: 'BrownBold';
    src: url('../fonts/brown-bold/brown-bold-webfont.eot');
    src: url('../fonts/brown-bold/brown-bold-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brown-bold/brown-bold-webfont.woff2') format('woff2'),
         url('../fonts/brown-bold/brown-bold-webfont.woff') format('woff'),
         url('../fonts/brown-bold/brown-bold-webfont.ttf') format('truetype'),
         url('../fonts/brown-bold/brown-bold-webfont.svg#brownbold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'BrownBoldItalic';
  src: url('../fonts/brown-bold-italic/brown-bold-italic-webfont.eot');
  src: url('../fonts/brown-bold-italic/brown-bold-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/brown-bold-italic/brown-bold-italic-webfont.woff2') format('woff2'),
       url('../fonts/brown-bold-italic/brown-bold-italic-webfont.woff') format('woff'),
       url('../fonts/brown-bold-italic/brown-bold-italic-webfont.ttf') format('truetype'),
       url('../fonts/brown-bold-italic/brown-bold-italic-webfont.svg#brownbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: 'BrownBoldBackslanted';
  src: url('../fonts/brown-bold-backslanted/brown-bold-backslanted-webfont.eot');
  src: url('../fonts/brown-bold-backslanted/brown-bold-backslanted-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/brown-bold-backslanted/brown-bold-backslanted-webfont.woff2') format('woff2'),
       url('../fonts/brown-bold-backslanted/brown-bold-backslanted-webfont.woff') format('woff'),
       url('../fonts/brown-bold-backslanted/brown-bold-backslanted-webfont.ttf') format('truetype'),
       url('../fonts/brown-bold-backslanted/brown-bold-backslanted-webfont.svg#brownbold') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'BrownLightBackslanted';
    src: url('../fonts/brown-light-backslanted/brown-light-backslanted-webfont.eot');
    src: url('../fonts/brown-light-backslanted/brown-light-backslanted-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brown-light-backslanted/brown-light-backslanted-webfont.woff2') format('woff2'),
         url('../fonts/brown-light-backslanted/brown-light-backslanted-webfont.woff') format('woff'),
         url('../fonts/brown-light-backslanted/brown-light-backslanted-webfont.ttf') format('truetype'),
         url('../fonts/brown-light-backslanted/brown-light-backslanted-webfont.svg#brownlight_backslanted') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrownLightItalic';
    src: url('../fonts/brown-light-italic/brown-light-italic-webfont.eot');
    src: url('../fonts/brown-light-italic/brown-light-italic-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brown-light-italic/brown-light-italic-webfont.woff2') format('woff2'),
         url('../fonts/brown-light-italic/brown-light-italic-webfont.woff') format('woff'),
         url('../fonts/brown-light-italic/brown-light-italic-webfont.ttf') format('truetype'),
         url('../fonts/brown-light-italic/brown-light-italic-webfont.svg#brownlight_italic') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrownThinBackslanted';
    src: url('../fonts/brown-thin-backslanted/brown-thin-backslanted-webfont.eot');
    src: url('../fonts/brown-thin-backslanted/brown-thin-backslanted-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brown-thin-backslanted/brown-thin-backslanted-webfont.woff2') format('woff2'),
         url('../fonts/brown-thin-backslanted/brown-thin-backslanted-webfont.woff') format('woff'),
         url('../fonts/brown-thin-backslanted/brown-thin-backslanted-webfont.ttf') format('truetype'),
         url('../fonts/brown-thin-backslanted/brown-thin-backslanted-webfont.svg#brownthin_backslanted') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'BrownRegular';
    src: url('../fonts/brown-regular/brown-regular-webfont.eot');
    src: url('../fonts/brown-regular/brown-regular-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brown-regular/brown-regular-webfont.woff2') format('woff2'),
         url('../fonts/brown-regular/brown-regular-webfont.woff') format('woff'),
         url('../fonts/brown-regular/brown-regular-webfont.ttf') format('truetype'),
         url('../fonts/brown-regular/brown-regular-webfont.svg#brownregular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
  font-family: 'BrownRegularItalic';
  src: url('../fonts/brown-regular-italic/brown-regular-italic-webfont.eot');
  src: url('../fonts/brown-regular-italic/brown-regular-italic-webfont.eot?#iefix') format('embedded-opentype'),
       url('../fonts/brown-regular-italic/brown-regular-italic-webfont.woff2') format('woff2'),
       url('../fonts/brown-regular-italic/brown-regular-italic-webfont.woff') format('woff'),
       url('../fonts/brown-regular-italic/brown-regular-italic-webfont.ttf') format('truetype'),
       url('../fonts/brown-regular-italic/brown-regular-italic-webfont.svg#brownregular') format('svg');
  font-weight: normal;
  font-style: normal;
}

@font-face {
    font-family: 'BrownLight';
    src: url('../fonts/brown-light/brown-light-webfont.eot');
    src: url('../fonts/brown-light/brown-light-webfont.eot?#iefix') format('embedded-opentype'),
         url('../fonts/brown-light/brown-light-webfont.woff2') format('woff2'),
         url('../fonts/brown-light/brown-light-webfont.woff') format('woff'),
         url('../fonts/brown-light/brown-light-webfont.ttf') format('truetype'),
         url('../fonts/brown-light/brown-light-webfont.svg#brownlight') format('svg');
    font-weight: normal;
    font-style: normal;
}
