input, textarea, .form-control {
  border: none;
  text-align: center;

  font-size: 12px;
  font-weight: bold;
}

textarea {
  background-color: $input-bg-color;
  border-radius: $input-border-radius;
  width: 100%;
  padding: 6px 12px;
  color: $input-font-color;
}

.input-invalid {
  border: 1px $red solid;
}

.form-group {
  @include grid-row(12);
  padding-left: 0px;
  padding-right: 0px;

  [data-hook=message-container] {
    display: none;
  }

  &.inline-left, &.inline-right {
    @include grid-column(5);
    padding-left: 0px;
    padding-right: 0px;
  }

  &.inline-left {
    margin-right: 5px;
  }
}

.form-actions {
  @include grid-row();

  button {
    @include grid-column($columns: 5, $offset: 3.5);
    font-size: 10px;
    font-weight: bold;

    @include respond-to(medium) {
      height: 34px;
    }

    @include respond-to(large) {
      height: 38px;
    }
  }
}
