@font-face {
  font-family: 'modulus-icons';
  src: url('../fonts/modulus-icons.eot');
  src: url('../fonts/modulus-icons.eot?#iefix') format('embedded-opentype'),
  url('../fonts/modulus-icons.woff') format('woff'),
  url('../fonts/modulus-icons.ttf') format('truetype'),
  url('../fonts/modulus-icons.svg#modulus-icons') format('svg');
  font-weight: normal;
  font-style: normal;
}

[class^="icon-"], [class*=" icon-"] {
  font-family: 'modulus-icons';
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-spin1:before {
  content: "\e830";
}

.icon-facebook-rect-1:before {
  content: "\e802";
}

.icon-th-list:before {
  content: "\2630";
}

.icon-ok:before {
  content: "\2713";
}

.icon-plus-1:before {
  content: "\e805";
}

.icon-home:before {
  content: "\2302";
}

.icon-link:before {
  content: "\1f517";
}

.icon-lock:before {
  content: "\e80b";
}

.icon-edit:before {
  content: "\e80a";
}

.icon-trash-1:before {
  content: "\e809";
}

.icon-doc:before {
  content: "\1f4c4";
}

.icon-folder:before {
  content: "\1f4c1";
}

.icon-folder-open:before {
  content: "\1f4c2";
}

.icon-cog-2:before {
  content: "\e803";
}

.icon-cog-alt:before {
  content: "\26ef";
}

.icon-down-dir-1:before {
  content: "\e800";
}

.icon-up-dir-1:before {
  content: "\e801";
}

.icon-left-dir:before {
  content: "\e80f";
}

.icon-right-dir:before {
  content: "\e810";
}

.icon-inbox:before {
  content: "\e813";
}

.icon-leaf:before {
  content: "\e80c";
}

.icon-ticket:before {
  content: "\e812";
}

.icon-hdd:before {
  content: "\e811";
}

.icon-tasks:before {
  content: "\e815";
}

.icon-money:before {
  content: "\f0d6";
}

.icon-search:before {
  content: "\1f50d";
}

.icon-user2:before {
  content: "\1f464";
}

.icon-users:before {
  content: "\1f465";
}

.icon-user-add:before {
  content: "\e700";
}

.icon-home-1:before {
  content: "\e804";
}

.icon-export:before {
  content: "\e715";
}

.icon-comment2:before {
  content: "\e808";
}

.icon-mail-alt:before {
  content: "\f0e0";
}

.icon-archive:before {
  content: "\e814";
}

.icon-arrow-combo:before {
  content: "\e74f";
}

.icon-down-dir:before {
  content: "\25be";
}

.icon-up-dir:before {
  content: "\25b4";
}

.icon-globe:before {
  content: "\e80d";
}

.icon-flash:before {
  content: "\26a1";
}

.icon-floppy:before {
  content: "\1f4be";
}

.icon-database:before {
  content: "\e754";
}

.icon-rocket:before {
  content: "\1f680";
}

.icon-mail-2:before {
  content: "\e807";
}

.icon-comment:before {
  content: "\e718";
}

.icon-location:before {
  content: "\e724";
}

.icon-chart-bar:before {
  content: "\1f4ca";
}

.icon-mail-1:before {
  content: "\e806";
}

.icon-plus:before {
  content: "\2b";
}

.icon-doc-1:before {
  content: "\e730";
}

.icon-doc-inv:before {
  content: "\e731";
}

.icon-box:before {
  content: "\e80e";
}

.icon-wrench:before {
  content: "\1f527";
}

.icon-dollar:before {
  content: "\1f4b5";
}

.icon-twitter:before {
  content: "\54";
}

.icon-facebook:before {
  content: "\66";
}

.icon-facebook-rect:before {
  content: "\f301";
}

.icon-github2:before {
  content: "\f308";
}

.icon-mail:before {
  content: "\2709";
}

.icon-comment-alt:before {
  content: "\e71a";
}

.icon-down-circle:before {
  content: "\e4a4";
}

.icon-left-circle:before {
  content: "\e4a1";
}

.icon-right-circle:before {
  content: "\e4a2";
}

.icon-up-circle:before {
  content: "\e4a3";
}

.icon-trash:before {
  content: "\e729";
}

.icon-user:before {
  content: "\e600";
}

.icon-github:before {
  content: "\eab1";
}
