@mixin respond-to($media) {
  @if $media == small {
    @media only screen and (max-width: $small-breakpoint) { @content; }
  }

  @else if $media == medium {
    @media only screen and (min-width: $medium-breakpoint) { @content; }
  }

  @else if $media == large {
    @media only screen and (min-width: $large-breakpoint) { @content; }
  }

  @else if $media == xlarge {
    @media only screen and (min-width: 1600px) { @content; }
  }
}
