#container > header {
  .logo {
    position: absolute;
    top: 0;
    left: 0;
    margin-left: 7px;
    display: inline-block;
    overflow: visible;
    background: url('/iris/img/nav_tessell.svg') 0 0 no-repeat;
    width: 200px;
    height: 115px;

    @include respond-to(small) {
      top: 130px;
    }

    @include respond-to(medium) {
      width: 385px;
      height: 236px;
      bottom: 122px;
    }

    @include respond-to(large) {
      width: 453px;
      height: 266px;
      bottom: 152px;
    }
  }

  .logo h1 {
    position: relative;
    text-indent: -9999px;
    background: url('../img/modulus_logo_progress.svg') 0 0 no-repeat;
    left: 63px;
    height: 28px;
    width: 99px;

    @include respond-to(medium) {
      top: 14px;
      left: 143px;
      width: 182px;
    }

    @include respond-to(large) {
      top: 19px;
      width: 206px;
      height: 205px;
    }
  }
}

.interior-nav {
  .collapsed-header {
    float: left;
    width: 96px;
    padding-right: $column-gutter;
    position: relative;
    height: 65px;
    .interior-logo {
      h1 {
        background-image: url('../img/icons/modulus-m.png');
        background-position: center center;
      }
    }
  }
  .interior-logo {
    position: absolute;
    top: 0;
    left: 0;
    display: inline-block;
    width: 100%;
    padding-right: $column-gutter;

    h1 {
      position: relative;
      text-indent: -9999px;
      background-image: url('/../img/modulus-expanded-logo.png');
      background-size: auto 100%;
      background-repeat: no-repeat;
      background-position: left top;
      left: 0;
      top: 0;
      height: 65px;
      width: 100%;
      padding: 0;
      margin: 0;
    }
  }
  section {
    position: absolute;
    right: 0;
    width: auto;
    display: inline-block;

    .nav-item {
      float: left;
      position: relative;
    }

    .notifications, .create-project {
      height: 65px;
      width: 70px;
      a {
        display: block;
        height: 100%;
        width: 100%;
        position: relative;
      }
    }

    .create-project {
      a {
        display: block;
        height: 100%;
        width: 100%;
        position: relative;
        &:before {
          content: '';
          background-image: url('iris/img/icons/create.png');
          height: 65%;
          width: 60%;
          display: block;
          background-size: 100% auto;
          background-repeat: no-repeat;
          margin: 12px auto;
        }
      }
    }

    .search {
      line-height: 61px;
      vertical-align: middle;
      margin-right: 30px;
      width: 200px;
      div {
        position: relative;
        &:before {
          content: '';
          background-image: url('iris/img/search.png');
          background-repeat: no-repeat;
          height: 36px;
          width: 36px;
          position: absolute;
          top: 21px;
          left: 8px;
          vertical-align: middle;
          line-height: 100%;
        }
      }
      input {
        height: 36px;
        line-height: 36px;
        vertical-align: middle;
        width: 100%;
        border: 0;
      }
    }
  }
}

.navbar-default .navbar-toggle {
  border: none;
  border-radius: 0;
  padding: 18px 17px;
  margin: 0;
  outline: none;

  &:focus {
    outline: none;
  }

  &.collapsed {
    .icon-bar {
      // background-color: ;
    }
  }
}

.users {
  font-size: 20px;
  line-height: 65px;
  vertical-align: middle;
  height: 100%;
}

.navbar-collapse {
  box-shadow: none;
  border:none;
}

#nav {
  top: 0;
  left: 0;
  border: none;

  a {
    text-decoration: none;
  }

  ul {
    list-style-type: none;

    @include respond-to(small) {
      margin-left: -17px;
      margin-top: 0;
      margin-bottom: 0;
      text-align: center;
      padding: 0;
    }

    @include respond-to(medium) {
      margin-left: 340px;
      margin-top: 24px;
    }

    @include respond-to(large) {
      margin-left: 423px;
      margin-top: 26px;
    }

    li {

      @include respond-to(small) {
        a {
          display: block;
          padding: 20px 40px;
        }
      }

      @include respond-to(medium) {
        margin: 0 7px 0 7px;
      }

      @include respond-to(large) {
        margin: 0 15px 0 15px;
      }
    }
  }

}

.quick-contact {
  display: none;
  height: 100%;
  width: 73px;
  position: absolute;
  right: 0;
  top: 0;

  @include respond-to(medium) {
    display: block;
  }

  textarea, input {
    text-align: left;
  }

  .question {
    margin-right: 0;
    height: 100%;
    outline: none;

    @include respond-to(medium) {
      width: 73px;
    }

    @include respond-to(large) {
      width: 75px;
    }

    .icon-comment2 {
      @include respond-to(medium) {
        font-size: 40px;
      }

      @include respond-to(large) {
        font-size: 49px;
      }
    }
  }

  &.active {
    form {
      margin-top: -24px;
      display: block;
    }

    &.sending {
      .sending {
        display: block;
      }
    }

    &.sent {
      .sent {
        display: block;
      }
    }

  }

  form, .overlay {
    position: absolute;
    right: 0;
    top: 65px + 24px;
    padding: 20px;
    display: none;
    z-index: 1500;

    textarea {
      height: 150px;
    }

    @include respond-to(medium) {
      width: 220px
    }

    @include respond-to(large) {
      width: 300px
    }
  }

  form {
    [data-hook=message-container] {
      display: none;
    }
  }

  .overlay {
    display: none;
    height: 341px;
    text-align: center;
    padding-top: 120px;
  }

}
