.sidebar {
  padding: 0px;
  ul {
    list-style: none;
    margin-left: 0px;

    li {
      > span, a {
        line-height: 60px;
        text-transform: uppercase;
        font-size: 12px;
        display: inline-block;
        padding-left: 30px;
        width: 100%;
      }
    }
  }
}