@import 'colors';

/* Kendo skin */
.k-in,
.k-item,
.k-window-action {
  border-color: transparent;
}
/* main colors */
.k-block,
.k-widget {
  background-color: $black;
}
.k-block,
.k-widget,
.k-input,
.k-textbox,
.k-group,
.k-content,
.k-header,
.k-filter-row > th,
.k-editable-area,
.k-separator,
.k-colorpicker .k-i-arrow-s,
.k-textbox > input,
.k-autocomplete,
.k-dropdown-wrap,
.k-toolbar,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-state-default,
.k-state-default .k-select,
.k-state-disabled,
.k-grid-header,
.k-grid-header-wrap,
.k-grid-header-locked,
.k-grid-footer-locked,
.k-grid-content-locked,
.k-grid td,
.k-grid td.k-state-selected,
.k-grid-footer-wrap,
.k-pager-wrap,
.k-pager-wrap .k-link,
.k-pager-refresh,
.k-grouping-header,
.k-grouping-header .k-group-indicator,
.k-panelbar > .k-item > .k-link,
.k-panel > .k-item > .k-link,
.k-panelbar .k-panel,
.k-panelbar .k-content,
.k-treemap-tile,
.k-calendar th,
.k-slider-track,
.k-splitbar,
.k-dropzone-active,
.k-tiles,
.k-toolbar,
.k-tooltip,
.k-button-group .k-tool,
.k-upload-files {
  border-color: $darkerGrey;
}
.k-group,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-group-footer td,
.k-grid-footer,
.k-footer-template td,
.k-widget .k-status,
.k-calendar th,
.k-dropzone-hovered,
.k-widget.k-popup {
  background-color: $darkestGrey;
}
.k-grouping-row td,
td.k-group-cell,
.k-resize-handle-inner {
  background-color: $black;
}
.k-list-container {
  border-color: $darkerGrey;
  background-color: $black;
}
.k-content,
.k-editable-area,
.k-panelbar > li.k-item,
.k-panel > li.k-item,
.k-tiles {
  background-color: $black;
}
.k-alt,
.k-separator,
.k-resource.k-alt,
.k-pivot-layout > tbody > tr:first-child > td:first-child {
  background-color: $nearBlack;
}
.k-pivot-rowheaders .k-alt .k-alt,
.k-header.k-alt {
  background-color: $nearBlack;
}
.k-textbox,
.k-autocomplete.k-header,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active {
  border-color: $darkerGrey;
  background-color: $black;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-dropdown-wrap .k-input,
.k-autocomplete.k-state-focused .k-input,
.k-dropdown-wrap.k-state-focused .k-input,
.k-picker-wrap.k-state-focused .k-input,
.k-numeric-wrap.k-state-focused .k-input {
  border-color: $darkerGrey;
}
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input {
  background: none;
}
.k-input,
input.k-textbox,
textarea.k-textbox,
input.k-textbox:hover,
textarea.k-textbox:hover,
.k-textbox > input,
.k-multiselect-wrap {
  background-color: $darkestGrey;
  color: $nearWhite;
}
.k-input[readonly] {
  background-color: $darkestGrey;
  color: $nearWhite;
}
.k-block,
.k-widget,
.k-popup,
.k-content,
.k-toolbar,
.k-dropdown .k-input {
  color: $nearWhite;
}
.k-inverse {
  color: $black;
}
.k-block {
  color: $nearWhite;
}
.k-link:link,
.k-link:visited,
.k-nav-current.k-state-hover .k-link {
  color: $nearWhite;
}
.k-tabstrip-items .k-link,
.k-panelbar > li > .k-link {
  color: $nearWhite;
}
.k-header,
.k-treemap-title,
.k-grid-header .k-header > .k-link {
  color: $nearWhite;
}
.k-header,
.k-grid-header,
.k-toolbar,
.k-dropdown-wrap,
.k-picker-wrap,
.k-numeric-wrap,
.k-grouping-header,
.k-pager-wrap,
.k-textbox,
.k-button,
.k-progressbar,
.k-draghandle,
.k-autocomplete,
.k-state-highlight,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.km-pane-wrapper > .km-pane > .km-view > .km-content {
  background-image: none;
  background-image: none, -webkit-linear-gradient(top, none);
  background-image: none, -moz-linear-gradient(top, none);
  background-image: none, -o-linear-gradient(top, none);
  background-image: none, linear-gradient(to bottom, none);
  background-position: 50% 50%;
  background-color: $black;
}
.k-widget.k-tooltip {
  background-image: none;
}
.k-block,
.k-header,
.k-grid-header,
.k-toolbar,
.k-grouping-header,
.k-pager-wrap,
.k-button,
.k-draghandle,
.k-treemap-tile,
html .km-pane-wrapper .k-header {
  background-color: $black;
}
/* icons */
.k-icon:hover,
.k-state-hover .k-icon,
.k-state-selected .k-icon,
.k-state-focused .k-icon,
.k-column-menu .k-state-hover .k-sprite,
.k-column-menu .k-state-active .k-sprite,
.k-pager-numbers .k-current-page .k-link:hover:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view.k-state-hover > .k-link:after {
  opacity: 1;
}
.k-icon,
.k-state-disabled .k-icon,
.k-column-menu .k-sprite,
.k-pager-numbers .k-current-page .k-link:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after {
  opacity: 0.8;
}
.k-mobile-list .k-check:checked,
.k-mobile-list .k-edit-field [type=checkbox]:checked,
.k-mobile-list .k-edit-field [type=radio]:checked {
  opacity: 0.8;
}
.k-tool {
  border-color: transparent;
}
.k-icon,
.k-tool-icon,
.k-grouping-dropclue,
.k-drop-hint,
.k-column-menu .k-sprite,
.k-grid-mobile .k-resize-handle-inner:before,
.k-grid-mobile .k-resize-handle-inner:after,
.k-pager-numbers .k-current-page .k-link:after,
.k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link:after {
  background-image: url('http://da7xgjtj801h2.cloudfront.net/2015.1.408/styles/MetroBlack/sprite_2x.png');
  border-color: transparent;
}
/* IE will ignore the above selectors if these are added too */
.k-mobile-list .k-check:checked,
.k-mobile-list .k-edit-field [type=checkbox]:checked,
.k-mobile-list .k-edit-field [type=radio]:checked {
  background-image: url('http://da7xgjtj801h2.cloudfront.net/2015.1.408/styles/MetroBlack/sprite_2x.png');
  border-color: transparent;
}
.k-loading,
.k-state-hover .k-loading {
  background-image: url('http://da7xgjtj801h2.cloudfront.net/2015.1.408/styles/MetroBlack/sprite_2x.png');
  background-position: 50% 50%;
}
.k-loading-image {
  background-image: url('http://da7xgjtj801h2.cloudfront.net/2015.1.408/styles/MetroBlack/sprite_2x.png');
}
.k-loading-color {
  background-color: $black;
}
.k-button {
  color: $darkRed;
  border-color: $wow;
  background-color: $wow;
}
.k-draghandle {
  border-color: $wow;
  background-color: $wow;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-draghandle:hover {
  border-color: $wow;
  background-color: $wow;
  -webkit-box-shadow: none;
  box-shadow: none;
}
/* Scheduler */
.k-scheduler {
  color: $nearWhite;
  background-color: $black;
}
.k-scheduler-layout {
  color: $nearWhite;
}
.k-scheduler-datecolumn,
.k-scheduler-groupcolumn {
  background-color: $black;
  color: $nearWhite;
}
.k-scheduler-times tr,
.k-scheduler-times th,
.k-scheduler-table td,
.k-scheduler-header th,
.k-scheduler-header-wrap,
.k-scheduler-times {
  border-color: $darkerGrey;
}
.k-nonwork-hour {
  background-color: $darkerGrey;
}
.k-gantt .k-nonwork-hour {
  background-color: rgba(0, 0, 0, 0.02);
}
.k-gantt .k-header.k-nonwork-hour {
  background-color: rgba(0, 0, 0, 0.2);
}
.k-scheduler-table .k-today,
.k-today > .k-scheduler-datecolumn,
.k-today > .k-scheduler-groupcolumn {
  background-color: $darkestGrey;
}
.k-scheduler-now-arrow {
  border-left-color: $red;
}
.k-scheduler-now-line {
  background-color: $red;
}
.k-event,
.k-task-complete {
  border-color: $teal;
  background: $teal 0 -257px none repeat-x;
  color: $nearWhite;
}
.k-event-inverse {
  color: $black;
}
.k-event.k-state-selected {
  background-position: 0 0;
}
.k-ie7 .k-event .k-resize-handle,
.k-event .k-resize-handle:after,
.k-ie7 .k-task-single .k-resize-handle,
.k-task-single .k-resize-handle:after {
  background-color: $nearWhite;
}
.k-scheduler-marquee:before,
.k-scheduler-marquee:after {
  border-color: $wow;
}
.k-panelbar .k-content,
.k-panelbar .k-panel,
.k-panelbar .k-item {
  background-color: $black;
  color: $nearWhite;
  border-color: $darkerGrey;
}
.k-panelbar > li > .k-link {
  color: $nearWhite;
}
.k-panelbar > .k-item > .k-link {
  border-color: $darkerGrey;
}
.k-panel > li.k-item {
  background-color: $black;
}
/* states */
.k-state-active,
.k-state-active:hover,
.k-active-filter,
.k-tabstrip .k-state-active {
  background-color: $nearBlack;
  border-color: $wow;
  color: $nearWhite;
}
.k-fieldselector .k-list-container {
  background-color: $nearBlack;
}
.k-button:focus,
.k-button.k-state-focused {
  border-color: $wow;
}
.k-button:hover,
.k-button.k-state-hover {
  color: $paleWow;
  border-color: $wow;
  background-color: $wow;
}
.k-button:active,
.k-button.k-state-active {
  color: $nearWhite;
  background-color: $wow;
  border-color: $wow;
}
.k-button:active:hover,
.k-button.k-state-active:hover {
  color: $nearWhite;
  border-color: $teal;
  background-color: $teal;
}
.k-button[disabled],
.k-button.k-state-disabled,
.k-state-disabled .k-button,
.k-state-disabled .k-button:hover,
.k-button.k-state-disabled:hover,
.k-state-disabled .k-button:active,
.k-button.k-state-disabled:active {
  color: rgba(170, 170, 170, 0.4);
  border-color: $darkerGrey;
  background-color: rgba(0, 0, 0, 0);
  background-image: none;
}
.k-button:focus:not(.k-state-disabled):not([disabled]) {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-button:focus:active:not(.k-state-disabled):not([disabled]) {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-menu .k-state-hover > .k-state-active {
  background-color: transparent;
}
.k-state-highlight {
  background: $nearBlack;
  color: $nearWhite;
}
.k-state-focused,
.k-grouping-row .k-state-focused {
  border-color: $teal;
}
.k-calendar .k-link {
  color: $nearWhite;
}
.k-calendar .k-footer {
  padding: 0;
}
.k-calendar .k-footer .k-nav-today {
  color: $nearWhite;
  text-decoration: none;
  background-color: $black;
}
.k-calendar .k-footer .k-nav-today:hover,
.k-calendar .k-footer .k-nav-today.k-state-hover {
  background-color: $black;
  text-decoration: underline;
}
.k-calendar .k-footer .k-nav-today:active {
  background-color: $black;
}
.k-calendar .k-link.k-nav-fast {
  color: $nearWhite;
}
.k-calendar .k-nav-fast.k-state-hover {
  text-decoration: none;
  background-color: $teal;
  color: $nearWhite;
}
.k-calendar .k-link.k-state-hover,
.k-window-titlebar .k-link {
  border-radius: 0px;
}
.k-calendar .k-footer .k-link {
  border-radius: 0;
}
.k-calendar th {
  background-color: $black;
}
.k-calendar-container.k-group {
  border-color: $darkerGrey;
}
.k-state-selected,
.k-state-selected:link,
.k-state-selected:visited,
.k-list > .k-state-selected,
.k-list > .k-state-highlight,
.k-panel > .k-state-selected,
.k-ghost-splitbar-vertical,
.k-ghost-splitbar-horizontal,
.k-draghandle.k-state-selected:hover,
.k-scheduler .k-scheduler-toolbar .k-state-selected,
.k-scheduler .k-today.k-state-selected,
.k-marquee-color {
  color: $nearWhite;
  background-color: $wow;
  border-color: $wow;
}
.k-virtual-item.k-first,
.k-list > .k-item.k-first {
  border-bottom-color: rgba(170, 170, 170, 0.4);
}
.k-marquee-text {
  color: $nearWhite;
}
.k-state-focused,
.k-list > .k-state-focused,
.k-listview > .k-state-focused,
.k-grid-header th.k-state-focused,
td.k-state-focused,
.k-button.k-state-focused {
  -webkit-box-shadow: $teal 0px 0px 0px 1px inset;
  box-shadow: $teal 0px 0px 0px 1px inset;
}
.k-state-focused.k-state-selected,
.k-list > .k-state-focused.k-state-selected,
.k-listview > .k-state-focused.k-state-selected,
td.k-state-focused.k-state-selected {
  -webkit-box-shadow: $paleGrey 0px 0px 3px 1px inset;
  box-shadow: $paleGrey 0px 0px 3px 1px inset;
}
.k-ie8 .k-panelbar span.k-state-focused,
.k-ie8 .k-menu li.k-state-focused,
.k-ie8 .k-listview > .k-state-focused,
.k-ie8 .k-grid-header th.k-state-focused,
.k-ie8 td.k-state-focused,
.k-ie8 .k-tool.k-state-hover,
.k-ie8 .k-button:focus,
.k-ie8 .k-button.k-state-focused,
.k-ie7 .k-panelbar span.k-state-focused,
.k-ie7 .k-menu li.k-state-focused,
.k-ie7 .k-listview > .k-state-focused,
.k-ie7 .k-grid-header th.k-state-focused,
.k-ie7 td.k-state-focused,
.k-ie7 .k-tool.k-state-hover,
.k-ie7 .k-button:focus,
.k-ie7 .k-button.k-state-focused {
  background-color: $wow;
}
.k-list > .k-state-selected.k-state-focused,
.k-list-optionlabel.k-state-selected.k-state-focused {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-state-selected > .k-link,
.k-panelbar > li > .k-state-selected,
.k-panelbar > li.k-state-default > .k-link.k-state-selected {
  color: $nearWhite;
}
.k-state-hover,
.k-state-hover:hover,
.k-splitbar-horizontal-hover:hover,
.k-splitbar-vertical-hover:hover,
.k-list > .k-state-hover,
.k-scheduler .k-scheduler-toolbar ul li.k-state-hover,
.k-pager-wrap .k-link:hover,
.k-dropdown .k-state-focused,
.k-filebrowser-dropzone,
.k-mobile-list .k-item > .k-link:active,
.k-mobile-list .k-item > .k-label:active,
.k-mobile-list .k-edit-label.k-check:active,
.k-mobile-list .k-recur-view .k-check:active {
  color: $nearWhite;
  background-color: $wow;
  border-color: $wow;
}
/* this selector should be used separately, otherwise old IEs ignore the whole rule */
.k-mobile-list .k-scheduler-timezones .k-edit-field:nth-child(2):active {
  color: $nearWhite;
  background-color: $wow;
  border-color: $wow;
}
.k-ie7 .k-window-titlebar .k-state-hover,
.k-ie8 .k-window-titlebar .k-state-hover {
  border-color: $wow;
}
.k-state-hover > .k-select,
.k-state-focused > .k-select {
  border-color: $wow;
}
.k-button:hover,
.k-button.k-state-hover,
.k-button:focus,
.k-button.k-state-focused,
.k-textbox:hover,
.k-state-hover,
.k-state-hover:hover,
.k-pager-wrap .k-link:hover,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em,
.k-draghandle:hover {
  background-image: none;
  background-image: none, -webkit-linear-gradient(top, none);
  background-image: none, -moz-linear-gradient(top, none);
  background-image: none, -o-linear-gradient(top, none);
  background-image: none, linear-gradient(to bottom, none);
}
.k-pager-wrap {
  background-color: $black;
  color: $nearWhite;
}
.k-autocomplete.k-state-active,
.k-picker-wrap.k-state-active,
.k-numeric-wrap.k-state-active,
.k-dropdown-wrap.k-state-active,
.k-state-active,
.k-state-active:hover,
.k-state-active > .k-link,
.k-button:active,
.k-panelbar > .k-item > .k-state-focused {
  background-image: none;
  background-image: none, -webkit-linear-gradient(top, none);
  background-image: none, -moz-linear-gradient(top, none);
  background-image: none, -o-linear-gradient(top, none);
  background-image: none, linear-gradient(to bottom, none);
}
.k-state-selected,
.k-button:active,
.k-button.k-state-active,
.k-draghandle.k-state-selected:hover {
  background-image: none;
  background-image: none, -webkit-linear-gradient(top, none);
  background-image: none, -moz-linear-gradient(top, none);
  background-image: none, -o-linear-gradient(top, none);
  background-image: none, linear-gradient(to bottom, none);
}
.k-button:active,
.k-button.k-state-active,
.k-draghandle.k-state-selected:hover {
  background-position: 50% 50%;
}
.k-tool-icon {
  background-image: url('http://da7xgjtj801h2.cloudfront.net/2015.1.408/styles/MetroBlack/sprite_2x.png');
}
.k-state-hover > .k-link,
.k-other-month.k-state-hover .k-link,
div.k-filebrowser-dropzone em {
  color: $nearWhite;
}
.k-autocomplete.k-state-hover,
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-hover,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-hover,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-hover,
.k-dropdown-wrap.k-state-focused {
  background-color: $wow;
  background-image: none;
  background-image: none, -webkit-linear-gradient(top, none);
  background-image: none, -moz-linear-gradient(top, none);
  background-image: none, -o-linear-gradient(top, none);
  background-image: none, linear-gradient(to bottom, none);
  background-position: 50% 50%;
  border-color: $darkerGrey;
}
.km-pane-wrapper .k-mobile-list input:not([type="checkbox"]):not([type="radio"]),
.km-pane-wrapper .km-pane .k-mobile-list select:not([multiple]),
.km-pane-wrapper .k-mobile-list textarea,
.k-dropdown .k-state-focused .k-input {
  color: $nearWhite;
}
.k-dropdown .k-state-hover .k-input {
  color: $nearWhite;
}
.k-state-error {
  border-color: $red;
  background-color: $red;
  color: $nearWhite;
}
.k-state-disabled {
  opacity: .7;
}
.k-ie7 .k-state-disabled,
.k-ie8 .k-state-disabled {
  filter: alpha(opacity=70);
}
.k-tile-empty.k-state-selected,
.k-loading-mask.k-state-selected {
  border-width: 0;
  background-image: none;
  background-color: transparent;
}
.k-state-disabled,
.k-state-disabled .k-link,
.k-state-disabled .k-button,
.k-other-month,
.k-other-month .k-link,
.k-dropzone em,
.k-dropzone .k-upload-status,
.k-tile-empty strong,
.k-slider .k-draghandle {
  color: rgba(170, 170, 170, 0.4);
}
/* Progressbar */
.k-progressbar-indeterminate {
  background: url('http://da7xgjtj801h2.cloudfront.net/2015.1.408/styles/MetroBlack/sprite_2x.png');
}
.k-progressbar-indeterminate .k-progress-status-wrap,
.k-progressbar-indeterminate .k-state-selected {
  display: none;
}
/* Slider */
.k-slider-track {
  background-color: $darkerGrey;
}
.k-slider-selection {
  background-color: $wow;
}
.k-slider-horizontal .k-tick {
  background-image: url('http://da7xgjtj801h2.cloudfront.net/2015.1.408/styles/MetroBlack/sprite_2x.png');
}
.k-slider-vertical .k-tick {
  background-image: url('http://da7xgjtj801h2.cloudfront.net/2015.1.408/styles/MetroBlack/sprite_2x.png');
}
/* Tooltip */
.k-widget.k-tooltip {
  border-color: $darkerGrey;
  background-color: rgba(0, 0, 0, 0);
  color: $darkishGrey;
}
.k-widget.k-tooltip-validation {
  border-color: $darkishGrey;
  background-color: rgba(0, 0, 0, 0);
  color: $darkishGrey;
}
/* Bootstrap theme fix */
.input-prepend .k-tooltip-validation,
.input-append .k-tooltip-validation {
  font-size: 12px;
  position: relative;
  top: 3px;
}
.k-callout-n {
  border-bottom-color: $darkerGrey;
}
.k-callout-w {
  border-right-color: $darkerGrey;
}
.k-callout-s {
  border-top-color: $darkerGrey;
}
.k-callout-e {
  border-left-color: $darkerGrey;
}
.k-tooltip-validation .k-callout-n {
  border-bottom-color: $darkishGrey;
}
.k-tooltip-validation .k-callout-w {
  border-right-color: $darkishGrey;
}
.k-tooltip-validation .k-callout-s {
  border-top-color: $darkishGrey;
}
.k-tooltip-validation .k-callout-e {
  border-left-color: $darkishGrey;
}
/* Splitter */
.k-splitbar {
  background-color: $black;
}
.k-restricted-size-vertical,
.k-restricted-size-horizontal {
  background-color: $nearWhite;
}
/* Upload */
.k-file {
  background-color: $nearBlack;
  border-color: $darkerGrey;
}
.k-file-progress {
  color: $nearWhite;
}
.k-file-progress .k-progress {
  background-color: $wow;
}
.k-file-success {
  color: $nearWhite;
}
.k-file-success .k-progress {
  background-color: $green;
}
.k-file-error {
  color: $nearWhite;
}
.k-file-error .k-progress {
  background-color: $fadedRed;
}
/* ImageBrowser */
.k-tile {
  border-color: $black;
}
.k-textbox:hover,
.k-tiles li.k-state-hover {
  border-color: $wow;
}
.k-tiles li.k-state-selected {
  border-color: $wow;
}
.k-filebrowser .k-tile .k-folder,
.k-filebrowser .k-tile .k-file {
  background-image: url('http://da7xgjtj801h2.cloudfront.net/2015.1.408/styles/MetroBlack/sprite_2x.png');
  background-size: auto auto;
}
/* TreeMap */
.k-leaf,
.k-leaf.k-state-hover:hover {
  color: $nearWhite;
}
.k-leaf.k-inverse,
.k-leaf.k-inverse.k-state-hover:hover {
  color: $black;
}
/* Shadows */
.k-widget,
.k-button {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-slider,
.k-treeview,
.k-upload {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-state-hover {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-autocomplete.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-state-selected {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-state-active {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-grid td.k-state-selected.k-state-focused {
  background-color: $wow;
}
.k-popup,
.k-menu .k-menu-group,
.k-grid .k-filter-options,
.k-time-popup,
.k-datepicker-calendar,
.k-autocomplete.k-state-border-down,
.k-autocomplete.k-state-border-up,
.k-dropdown-wrap.k-state-active,
.k-picker-wrap.k-state-active,
.k-multiselect.k-state-focused,
.k-filebrowser .k-image,
.k-tooltip {
  -webkit-box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.0980392);
  box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.0980392);
}
.k-treemap-tile.k-state-hover {
  -webkit-box-shadow: inset 0 0 0 3px $darkerGrey;
  box-shadow: inset 0 0 0 3px $darkerGrey;
}
/* Window */
.k-window {
  border-color: rgba(255, 255, 255, 0.0980392);
  -webkit-box-shadow: 1px 1px 7px 1px rgba(255, 255, 255, 0.0980392);
  box-shadow: 1px 1px 7px 1px rgba(255, 255, 255, 0.0980392);
  background-color: $black;
}
.k-window.k-state-focused {
  border-color: rgba(255, 255, 255, 0.0980392);
  -webkit-box-shadow: 1px 1px 7px 1px rgba(255, 255, 255, 0.0980392);
  box-shadow: 1px 1px 7px 1px rgba(255, 255, 255, 0.0980392);
}
.k-window.k-window-maximized,
.k-window-maximized .k-window-titlebar,
.k-window-maximized .k-window-content {
  border-radius: 0;
}
.k-shadow {
  -webkit-box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.0980392);
  box-shadow: 0 1px 2px 0 rgba(255, 255, 255, 0.0980392);
}
.k-inset {
  -webkit-box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.0980392);
  box-shadow: inset 0 1px 1px rgba(255, 255, 255, 0.0980392);
}
/* Selection */
.k-editor-inline ::selection {
  background-color: $wow;
  text-shadow: none;
  color: $nearWhite;
}
.k-editor-inline ::-moz-selection {
  background-color: $wow;
  text-shadow: none;
  color: $nearWhite;
}
/* Notification */
.k-widget.k-notification.k-notification-info {
  background-color: $teal;
  color: $darkishGrey;
  border-color: $teal;
}
.k-widget.k-notification.k-notification-success {
  background-color: $mediumGreen;
  color: $nearWhite;
  border-color: $darkishGrey;
}
.k-widget.k-notification.k-notification-warning {
  background-color: $wow;
  color: $nearWhite;
  border-color: $wow;
}
.k-widget.k-notification.k-notification-error {
  background-color: $red;
  color: $nearWhite;
  border-color: $red;
}
/* Gantt */
.k-gantt .k-treelist {
  background: $nearBlack;
}
.k-gantt .k-treelist .k-alt {
  background-color: $black;
}
.k-gantt .k-treelist .k-state-selected,
.k-gantt .k-treelist .k-state-selected td,
.k-gantt .k-treelist .k-alt.k-state-selected,
.k-gantt .k-treelist .k-alt.k-state-selected > td {
  background-color: $wow;
}
.k-task-dot:after {
  background-color: $nearWhite;
  border-color: $nearWhite;
}
.k-task-dot:hover:after {
  background-color: $nearBlack;
}
.k-task-summary {
  border-color: $paleGrey;
  background: $paleGrey;
}
.k-task-milestone,
.k-task-summary-complete {
  border-color: $nearWhite;
  background: $nearWhite;
}
.k-state-selected.k-task-summary {
  border-color: $black;
  background: $black;
}
.k-state-selected.k-task-milestone,
.k-state-selected .k-task-summary-complete {
  border-color: $wow;
  background: $wow;
}
.k-task-single {
  background-color: $teal;
  border-color: $teal;
  color: $nearWhite;
}
.k-state-selected.k-task-single {
  border-color: $wow;
}
.k-line {
  background-color: $nearWhite;
  color: $nearWhite;
}
.k-state-selected.k-line {
  background-color: $wow;
  color: $wow;
}
.k-resource {
  background-color: $black;
}
/* PivotGrid */
.k-i-kpi-decrease,
.k-i-kpi-denied,
.k-i-kpi-equal,
.k-i-kpi-hold,
.k-i-kpi-increase,
.k-i-kpi-open {
  background-image: url('http://da7xgjtj801h2.cloudfront.net/2015.1.408/styles/MetroBlack/sprite_2x.png');
}
/* Border radius */
.k-block,
.k-button,
.k-textbox,
.k-drag-clue,
.k-touch-scrollbar,
.k-window,
.k-window-titleless .k-window-content,
.k-window-action,
.k-inline-block,
.k-grid .k-filter-options,
.k-grouping-header .k-group-indicator,
.k-autocomplete,
.k-multiselect,
.k-combobox,
.k-dropdown,
.k-dropdown-wrap,
.k-datepicker,
.k-timepicker,
.k-colorpicker,
.k-datetimepicker,
.k-notification,
.k-numerictextbox,
.k-picker-wrap,
.k-numeric-wrap,
.k-colorpicker,
.k-list-container,
.k-calendar-container,
.k-calendar td,
.k-calendar .k-link,
.k-treeview .k-in,
.k-editor-inline,
.k-tooltip,
.k-tile,
.k-slider-track,
.k-slider-selection,
.k-upload {
  border-radius: 0px;
}
.k-tool {
  text-align: center;
  vertical-align: middle;
}
.k-tool.k-group-start,
.k-toolbar .k-split-button .k-button,
.k-toolbar .k-button-group .k-group-start {
  border-radius: 0px 0 0 0px;
}
.k-rtl .k-tool.k-group-start {
  border-radius: 0 0px 0px 0;
}
.k-tool.k-group-end,
.k-toolbar .k-button-group .k-group-end,
.k-toolbar .k-split-button .k-split-button-arrow {
  border-radius: 0 0px 0px 0;
}
.k-rtl .k-tool.k-group-end {
  border-radius: 0px 0 0 0px;
}
.k-group-start.k-group-end.k-tool {
  border-radius: 0px;
}
.k-calendar-container.k-state-border-up,
.k-list-container.k-state-border-up,
.k-autocomplete.k-state-border-up,
.k-multiselect.k-state-border-up,
.k-dropdown-wrap.k-state-border-up,
.k-picker-wrap.k-state-border-up,
.k-numeric-wrap.k-state-border-up,
.k-window-content,
.k-filter-menu {
  border-radius: 0 0 0px 0px;
}
.k-autocomplete.k-state-border-up .k-input,
.k-dropdown-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-input,
.k-picker-wrap.k-state-border-up .k-selected-color,
.k-numeric-wrap.k-state-border-up .k-input {
  border-radius: 0 0 0 0px;
}
.k-multiselect.k-state-border-up .k-multiselect-wrap {
  border-radius: 0 0 0px 0px;
}
.k-window-titlebar,
.k-block > .k-header,
.k-tabstrip-items .k-item,
.k-panelbar .k-tabstrip-items .k-item,
.k-tabstrip-items .k-link,
.k-calendar-container.k-state-border-down,
.k-list-container.k-state-border-down,
.k-autocomplete.k-state-border-down,
.k-multiselect.k-state-border-down,
.k-dropdown-wrap.k-state-border-down,
.k-picker-wrap.k-state-border-down,
.k-numeric-wrap.k-state-border-down {
  border-radius: 0px 0px 0 0;
}
.k-split-button.k-state-border-down > .k-button {
  border-radius: 0px 0 0 0;
}
.k-split-button.k-state-border-up > .k-button {
  border-radius: 0 0 0 0px;
}
.k-split-button.k-state-border-down > .k-split-button-arrow {
  border-radius: 0 0px 0 0;
}
.k-split-button.k-state-border-up > .k-split-button-arrow {
  border-radius: 0 0 0px 0;
}
.k-dropdown-wrap .k-input,
.k-picker-wrap .k-input,
.k-numeric-wrap .k-input {
  border-radius: -2px 0 0 -2px;
}
.k-rtl .k-dropdown-wrap .k-input,
.k-rtl .k-picker-wrap .k-input,
.k-rtl .k-numeric-wrap .k-input {
  border-radius: 0 -2px -2px 0;
}
.k-numeric-wrap .k-link {
  border-radius: 0 -2px 0 0;
}
.k-numeric-wrap .k-link + .k-link {
  border-radius: 0 0 -2px 0;
}
.k-colorpicker .k-selected-color {
  border-radius: -2px 0 0 -2px;
}
.k-rtl .k-colorpicker .k-selected-color {
  border-radius: 0 -2px -2px 0;
}
.k-autocomplete.k-state-border-down .k-input {
  border-radius: 0px 0px 0 0;
}
.k-dropdown-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-input,
.k-picker-wrap.k-state-border-down .k-selected-color,
.k-numeric-wrap.k-state-border-down .k-input {
  border-radius: 0px 0 0 0;
}
.k-numeric-wrap .k-link.k-state-selected {
  background-color: $teal;
}
.k-multiselect.k-state-border-down .k-multiselect-wrap {
  border-radius: -2px -2px 0 0;
}
.k-dropdown-wrap .k-select,
.k-picker-wrap .k-select,
.k-numeric-wrap .k-select,
.k-datetimepicker .k-select + .k-select,
.k-list-container.k-state-border-right {
  border-radius: 0 0px 0px 0;
}
.k-rtl .k-dropdown-wrap .k-select,
.k-rtl .k-picker-wrap .k-select,
.k-rtl .k-numeric-wrap .k-select,
.k-rtl .k-datetimepicker .k-select + .k-select,
.k-rtl .k-list-container.k-state-border-right {
  border-radius: 0px 0 0 0px;
}
.k-numeric-wrap.k-expand-padding .k-input {
  border-radius: 0px;
}
.k-textbox > input,
.k-autocomplete .k-input,
.k-multiselect-wrap {
  border-radius: 0;
}
.k-list .k-state-hover,
.k-list .k-state-focused,
.k-list .k-state-highlight,
.k-list .k-state-selected,
.k-fieldselector .k-list .k-item,
.k-list-optionlabel,
.k-dropzone {
  border-radius: 0;
}
.k-slider .k-button,
.k-grid .k-slider .k-button {
  border-radius: 13px;
}
.k-draghandle {
  border-radius: 0px;
}
.k-scheduler-toolbar > ul li:first-child,
.k-scheduler-toolbar > ul li:first-child .k-link,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link {
  border-radius: 0px 0 0 0px;
}
.k-rtl .k-scheduler-toolbar > ul li:first-child,
.k-rtl .k-scheduler-toolbar > ul li:first-child .k-link,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li,
.k-rtl .k-scheduler-toolbar > ul.k-scheduler-views li:first-child + li .k-link,
.km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child,
.km-view.k-popup-edit-form .k-scheduler-toolbar > ul li:last-child .k-link {
  border-radius: 0 0px 0px 0;
}
.k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today,
.k-scheduler-phone .k-scheduler-toolbar > ul li.k-nav-today .k-link,
.k-edit-field > .k-scheduler-navigation {
  border-radius: 0px;
}
.k-scheduler-toolbar .k-nav-next,
.k-scheduler-toolbar ul + ul li:last-child,
.k-scheduler-toolbar .k-nav-next .k-link,
.k-scheduler-toolbar ul + ul li:last-child .k-link {
  border-top-right-radius: 0px;
  border-bottom-right-radius: 0px;
}
.k-rtl .k-scheduler-toolbar .k-nav-next,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child,
.k-rtl .k-scheduler-toolbar .k-nav-next .k-link,
.k-rtl .k-scheduler-toolbar ul + ul li:last-child .k-link {
  border-radius: 0px 0 0 0px;
}
.k-scheduler div.k-scheduler-footer ul li,
.k-scheduler div.k-scheduler-footer .k-link {
  border-radius: 0px;
}
.k-more-events,
.k-event,
.k-task-single,
.k-task-complete,
.k-event .k-link {
  border-radius: -2px;
}
.k-scheduler-mobile .k-event {
  border-radius: -3px;
}
/* Adaptive Grid */
.k-grid-mobile .k-column-active + th.k-header {
  border-left-color: $nearWhite;
}
html .km-pane-wrapper .km-widget,
.k-ie .km-pane-wrapper .k-widget,
.k-ie .km-pane-wrapper .k-group,
.k-ie .km-pane-wrapper .k-content,
.k-ie .km-pane-wrapper .k-header,
.k-ie .km-pane-wrapper .k-popup-edit-form .k-edit-field .k-button,
.km-pane-wrapper .k-mobile-list .k-item,
.km-pane-wrapper .k-mobile-list .k-edit-label,
.km-pane-wrapper .k-mobile-list .k-edit-field {
  color: $nearWhite;
}
@media screen and (-ms-high-contrast: active) and (-ms-high-contrast: none) {
  div.km-pane-wrapper a {
    color: $nearWhite;
  }
  .km-pane-wrapper .k-icon {
    background-image: url('http://da7xgjtj801h2.cloudfront.net/2015.1.408/styles/MetroBlack/sprite_2x.png');
    background-size: 21.2em 21em;
  }
}
.km-pane-wrapper .k-mobile-list .k-item,
.km-pane-wrapper .k-mobile-list .k-edit-field,
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check {
  background-color: $black;
  border-top: 1px solid $darkerGrey;
}
.km-pane-wrapper .k-mobile-list .k-edit-field textarea {
  outline-width: 0;
}
.km-pane-wrapper .k-mobile-list .k-item.k-state-selected {
  background-color: $wow;
  border-top-color: $wow;
}
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-field .k-check:first-child {
  border-top-color: transparent;
}
.km-pane-wrapper .k-mobile-list .k-item:last-child {
  -webkit-box-shadow: inset 0 -1px 0 $darkerGrey;
  box-shadow: inset 0 -1px 0 $darkerGrey;
}
.km-pane-wrapper .k-mobile-list > ul > li > .k-link,
.km-pane-wrapper .k-mobile-list .k-recur-view > .k-edit-label:nth-child(3),
.km-pane-wrapper #recurrence .km-scroll-container > .k-edit-label:first-child {
  color: $black;
}
.km-pane-wrapper .k-mobile-list > ul > li > .k-link {
  border-bottom: 1px solid $darkerGrey;
}
.km-pane-wrapper .k-mobile-list .k-edit-field {
  -webkit-box-shadow: 0 1px 1px $darkerGrey;
  box-shadow: 0 1px 1px $darkerGrey;
}
.km-actionsheet .k-grid-delete,
.km-actionsheet .k-scheduler-delete,
.km-pane-wrapper .k-scheduler-delete,
.km-pane-wrapper .k-filter-menu .k-button[type=reset] {
  color: $nearWhite;
  border-color: $red;
  background-color: red;
  background-image: -webkit-gradient(linear, 50% 0, 50% 100%, from(rgba(255,255,255,.3)), to(rgba(255,255,255,.15)));
  background-image: -webkit-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,.15));
  background-image: -moz-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,.15));
  background-image: -ms-linear-gradient(top, rgba(255,255,255,.3), rgba(255,255,255,.15));
  background-image: linear-gradient(to bottom, rgba(255,255,255,.3), rgba(255,255,255,.15));
}
.km-actionsheet .k-grid-delete:active,
.km-actionsheet .k-scheduler-delete:active,
.km-pane-wrapper .k-scheduler-delete:active,
.km-pane-wrapper .k-filter-menu .k-button[type=reset]:active {
  background-color: $red;
}
/* /Column Menu */
.k-autocomplete.k-state-default,
.k-picker-wrap.k-state-default,
.k-numeric-wrap.k-state-default,
.k-dropdown-wrap.k-state-default {
  background-image: none;
  background-image: none, -webkit-linear-gradient(top, none);
  background-image: none, -moz-linear-gradient(top, none);
  background-image: none, -o-linear-gradient(top, none);
  background-image: none, linear-gradient(to bottom, none);
  background-position: 50% 50%;
  background-color: $black;
  border-color: $darkerGrey;
}
.k-autocomplete.k-state-hover,
.k-picker-wrap.k-state-hover,
.k-numeric-wrap.k-state-hover,
.k-dropdown-wrap.k-state-hover {
  background-color: $wow;
  background-image: none;
  background-image: none, -webkit-linear-gradient(top, none);
  background-image: none, -moz-linear-gradient(top, none);
  background-image: none, -o-linear-gradient(top, none);
  background-image: none, linear-gradient(to bottom, none);
  background-position: 50% 50%;
  border-color: $darkerGrey;
}
.k-multiselect.k-header {
  border-color: $darkerGrey;
}
.k-multiselect.k-header.k-state-hover {
  border-color: $darkerGrey;
}
.k-autocomplete.k-state-focused,
.k-picker-wrap.k-state-focused,
.k-numeric-wrap.k-state-focused,
.k-dropdown-wrap.k-state-focused,
.k-multiselect.k-header.k-state-focused {
  background-color: $wow;
  background-image: none;
  background-image: none, -webkit-linear-gradient(top, none);
  background-image: none, -moz-linear-gradient(top, none);
  background-image: none, -o-linear-gradient(top, none);
  background-image: none, linear-gradient(to bottom, none);
  background-position: 50% 50%;
  border-color: $darkerGrey;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-list-container {
  color: $nearWhite;
}
.k-dropdown .k-input,
.k-dropdown .k-state-focused .k-input,
.k-menu .k-popup {
  color: $nearWhite;
}
.k-state-default > .k-select {
  border-color: $darkerGrey;
}
.k-state-hover > .k-select {
  border-color: $darkerGrey;
}
.k-state-focused > .k-select {
  border-color: $darkerGrey;
}
.k-tabstrip:focus {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-tabstrip-items .k-state-default .k-link,
.k-panelbar > li.k-state-default > .k-link {
  color: $nearWhite;
}
.k-tabstrip-items .k-state-hover .k-link,
.k-panelbar > li.k-state-hover > .k-link,
.k-panelbar > li.k-state-default > .k-link.k-state-hover {
  color: $nearWhite;
}
.k-panelbar .k-state-focused.k-state-hover {
  background: $wow;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-tabstrip-items .k-state-default,
.k-ie7 .k-tabstrip-items .k-state-default .k-loading {
  border-color: $darkerGrey;
}
.k-tabstrip-items .k-state-hover,
.k-ie7 .k-tabstrip-items .k-state-hover .k-loading {
  border-color: $wow;
}
.k-tabstrip-items .k-state-active,
.k-panelbar .k-tabstrip-items .k-state-active,
.k-ie7 .k-tabstrip-items .k-state-active .k-loading {
  background-color: $nearBlack;
  background-image: none;
  background-image: none, -webkit-linear-gradient(top, none);
  background-image: none, -moz-linear-gradient(top, none);
  background-image: none, -o-linear-gradient(top, none);
  background-image: none, linear-gradient(to bottom, none);
  border-color: $wow;
}
.k-tabstrip .k-content.k-state-active {
  background-color: $nearBlack;
  color: $nearWhite;
}
.k-menu.k-header,
.k-menu .k-item {
  border-color: $darkerGrey;
}
.k-column-menu,
.k-column-menu .k-item,
.k-overflow-container .k-overflow-group {
  border-color: $darkerGrey;
}
.k-overflow-container .k-overflow-group {
  box-shadow: inset 0 1px 0 $greyedOut, 0 1px 0 $greyedOut;
}
.k-toolbar-first-visible.k-overflow-group,
.k-overflow-container .k-overflow-group + .k-overflow-group {
  box-shadow: 0 1px 0 $greyedOut;
}
.k-toolbar-last-visible.k-overflow-group {
  box-shadow: inset 0 1px 0 $greyedOut;
}
.k-column-menu .k-separator {
  border-color: $darkerGrey;
  background-color: transparent;
}
.k-menu .k-group {
  border-color: $darkerGrey;
}
.k-grid-filter.k-state-active {
  background-color: $nearBlack;
}
.k-grouping-row td,
.k-group-footer td,
.k-grid-footer td {
  color: $nearWhite;
  border-color: $darkerGrey;
  font-weight: bold;
}
.k-grouping-header {
  color: $nearWhite;
}
.k-grid td.k-state-focused {
  -webkit-box-shadow: inset 0 0 0 1px $teal 0px 0px 0px 1px inset;
  box-shadow: inset 0 0 0 1px $teal 0px 0px 0px 1px inset;
}
.k-header,
.k-grid-header-wrap,
.k-grid .k-grouping-header,
.k-grid-header,
.k-pager-wrap,
.k-pager-wrap .k-textbox,
.k-pager-wrap .k-link,
.k-grouping-header .k-group-indicator,
.k-gantt-toolbar .k-state-default {
  border-color: $darkerGrey;
}
.k-primary,
.k-overflow-container .k-primary {
  color: $nearWhite;
  border-color: $teal;
  background-image: none;
  background-position: 50% 50%;
  background-color: $teal;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-primary:focus,
.k-primary.k-state-focused {
  color: $nearWhite;
  border-color: $teal;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-primary:hover {
  color: $nearWhite;
  border-color: $teal;
  background-image: none;
  background-color: $teal;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-primary:focus:active:not(.k-state-disabled):not([disabled]),
.k-primary:focus:not(.k-state-disabled):not([disabled]) {
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-primary:active {
  color: $nearWhite;
  border-color: $teal;
  background-image: none;
  background-color: $teal;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-primary.k-state-disabled,
.k-state-disabled .k-primary,
.k-primary.k-state-disabled:hover,
.k-state-disabled .k-primary:hover,
.k-primary.k-state-disabled:hover,
.k-state-disabled .k-primary:active,
.k-primary.k-state-disabled:active {
  color: $black;
  border-color: $mediumGreen;
  background-color: $mediumGreen;
  background-image: none;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-pager-numbers .k-link,
.k-treeview .k-in {
  border-color: transparent;
}
.k-treeview .k-icon,
.k-scheduler-table .k-icon,
.k-grid .k-hierarchy-cell .k-icon {
  background-color: rgba(0, 0, 0, 0);
  border-radius: 0px;
}
.k-scheduler-table .k-state-hover .k-icon {
  background-color: transparent;
}
.k-button:focus {
  outline: none;
}
.k-editor .k-tool:focus {
  outline: 0;
  border-color: $wow;
  -webkit-box-shadow: none;
  box-shadow: none;
}
.k-checkbox-label:before {
  border-color: $darkishGrey;
  border-radius: 0px;
}
.k-checkbox-label:after {
  border-color: $darkishGrey;
  background: $black;
  border-radius: 0px;
}
.k-checkbox-label:hover:after,
.k-checkbox:checked + .k-checkbox-label:hover:after {
  border-color: $wow;
  box-shadow: transparent;
}
.k-checkbox:checked + .k-checkbox-label:after {
  background-color: $wow;
  border-color: $darkishGrey;
  border-radius: 0px;
  color: $darkRed;
}
.k-checkbox-label:active:before {
  box-shadow: transparent;
  border-color: $darkishGrey;
  border-radius: 0px;
}
.k-checkbox-label:active:after {
  border-color: $wow;
  border-radius: 0px;
}
.k-checkbox:checked + .k-checkbox-label:active:after {
  border-color: $wow;
}
.k-checkbox:checked + .k-checkbox-label:active:before {
  box-shadow: transparent;
  border-radius: 0px;
}
.k-checkbox:disabled + .k-checkbox-label {
  color: $darkishGrey;
}
.k-checkbox:disabled + .k-checkbox-label:hover:after,
.k-checkbox:disabled + .k-checkbox-label:active:before {
  box-shadow: transparent;
}
.k-checkbox:checked:disabled + .k-checkbox-label:after {
  background: $darkishGrey;
  color: $darkishGrey;
}
.k-checkbox:disabled + .k-checkbox-label:after,
.k-checkbox:checked:disabled + .k-checkbox-label:active:after,
.k-checkbox:disabled + .k-checkbox-label:hover:before,
.k-checkbox:checked:disabled + .k-checkbox-label:hover:after {
  background: $darkishGrey;
  border-color: $darkishGrey;
  border-radius: 0px;
}
.k-radio-label:before {
  border-color: $darkishGrey;
  border-radius: 50%;
  background-color: $black;
  border-width: 3px;
}
.k-radio-label:hover:before,
.k-radio:checked + .k-radio-label:hover:before {
  border-color: $wow;
  box-shadow: transparent;
}
.k-radio:checked + .k-radio-label:before {
  border-color: $darkishGrey;
}
.k-radio:checked + .k-radio-label:after {
  background-color: $wow;
  border-radius: 50%;
}
.k-radio-label:active:before {
  box-shadow: transparent;
  border-radius: 50%;
  border-color: $wow;
}
.k-radio:checked + .k-radio-label:active:before {
  box-shadow: transparent;
  border-radius: 50%;
  border-color: $darkishGrey;
}
.k-radio:disabled + .k-radio-label {
  color: $darkishGrey;
}
.k-radio:disabled + .k-radio-label:before {
  border-color: $lightGrey;
}
.k-radio:disabled + .k-radio-label:active:before {
  box-shadow: transparent;
  background: rgba(0, 0, 0, 0);
}
.k-radio:disabled + .k-radio-label:before {
  background: $black;
}
.k-radio:disabled + .k-radio-label:hover:after,
.k-radio:disabled + .k-radio-label:hover:before {
  box-shadow: transparent;
}
.k-checkbox:focus + .k-checkbox-label:after,
.k-radio:focus + .k-radio-label:before {
  border-color: $wow;
  box-shadow: transparent;
}
@media only screen and (-webkit-min-device-pixel-ratio: 2), only screen and (min-device-pixel-ratio: 2) {
  .k-icon:not(.k-loading),
  .k-grouping-dropclue,
  .k-drop-hint,
  .k-callout,
  .k-tool-icon,
  .k-state-hover .k-tool-icon,
  .k-state-active .k-tool-icon,
  .k-state-active.k-state-hover .k-tool-icon,
  .k-state-selected .k-tool-icon,
  .k-state-selected.k-state-hover .k-tool-icon,
  .k-column-menu .k-sprite,
  .k-mobile-list .k-check:checked,
  .k-mobile-list .k-edit-field [type=checkbox]:checked,
  .k-mobile-list .k-edit-field [type=radio]:checked {
    background-image: url('http://da7xgjtj801h2.cloudfront.net/2015.1.408/styles/MetroBlack/sprite_2x.png');
    background-size: 340px 336px;
  }
  .k-dropdown-wrap .k-input,
  .k-picker-wrap .k-input,
  .k-numeric-wrap .k-input {
    border-radius: -2px 0 0 -2px;
  }
  .k-i-kpi-decrease,
  .k-i-kpi-denied,
  .k-i-kpi-equal,
  .k-i-kpi-hold,
  .k-i-kpi-increase,
  .k-i-kpi-open {
    background-image: url('http://da7xgjtj801h2.cloudfront.net/2015.1.408/styles/MetroBlack/sprite_2x.png');
    background-size: 96px 16px;
  }
}
@media screen and (-ms-high-contrast: active) {
  .k-editor-toolbar-wrap .k-dropdown-wrap.k-state-focused,
  .k-editor-toolbar-wrap .k-button-group .k-tool:focus {
    border-color: $nearWhite;
  }
}
.ktb-checkbox-label-after {
  border-color: $darkishGrey;
  background: $black;
}
.ktb-checkbox-label-hover-after,
.ktb-checkbox-checked + .ktb-checkbox-label-hover-after {
  border-color: $wow;
}
.ktb-checkbox-checked + .ktb-checkbox-label-after {
  background-color: $wow;
  border-color: $darkishGrey;
  color: $darkRed;
}
.ktb-checkbox-label-hover-after,
.ktb-checkbox-checked + .ktb-checkbox-label-hover-after {
  border-color: $wow;
}
.ktb-checkbox-label-active-after {
  border-color: $wow;
}
.ktb-checkbox-checked-disabled + .ktb-checkbox-label-after,
.ktb-checkbox-disabled + .ktb-checkbox-label-after,
.ktb-checkbox-checked-disabled + .ktb-checkbox-label-active-after,
.ktb-checkbox-disabled + .ktb-checkbox-label-hover-before,
.ktb-checkbox-checked-disabled + .ktb-checkbox-label-hover-after {
  background: $darkishGrey;
  color: $darkishGrey;
  border-color: $darkishGrey;
}
.ktb-radio-label-before {
  border-color: $darkishGrey;
  background-color: $black;
}
.ktb-radio-checked + .ktb-radio-label-after {
  background-color: $wow;
}
.ktb-radio-checked + .ktb-radio-label-before {
  border-color: $darkishGrey;
}
.ktb-radio-label-hover-before,
.ktb-radio-checked + .ktb-radio-label-hover-before {
  border-color: $wow;
}
.ktb-radio-label-active-before {
  border-color: $wow;
}
.ktb-radio-checked + .ktb-radio-label-after {
  background-color: $wow;
}
.ktb-radio-disabled + .ktb-radio-label-before,
.ktb-radio-disabled + .ktb-radio-label-active-before {
  background: $black;
  border-color: $darkishGrey;
}
/* Responsive styles */
@media only screen and (max-width: 1024px) {
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-webkit .k-pager-numbers .k-current-page .k-link,
  .k-ff .k-pager-numbers .k-current-page .k-link,
  .k-ie11 .k-pager-numbers .k-current-page .k-link {
    background-image: none;
    background-image: none, -webkit-linear-gradient(top, none);
    background-image: none, -moz-linear-gradient(top, none);
    background-image: none, -o-linear-gradient(top, none);
    background-image: none, linear-gradient(to bottom, none);
    background-position: 50% 50%;
    background-color: $black;
    border-color: $darkerGrey;
  }
  .k-webkit .k-pager-numbers .k-current-page .k-link,
  .k-ff .k-pager-numbers .k-current-page .k-link,
  .k-ie11 .k-pager-numbers .k-current-page .k-link {
    border-color: $darkerGrey;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view {
    border-radius: 0px;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded > li.k-current-view {
    border-radius: -2px -2px 0 0;
  }
  .k-webkit .k-scheduler-toolbar > ul li:first-child,
  .k-ff .k-scheduler-toolbar > ul li:first-child,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child,
  .k-webkit .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ff .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul li:first-child .k-link,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li .k-link {
    border-radius: 0;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views li:last-child .k-link {
    border-radius: 0 0 -2px -2px;
  }
  .k-webkit .k-pager-numbers .k-current-page .k-link:hover,
  .k-ff .k-pager-numbers .k-current-page .k-link:hover,
  .k-ie11 .k-pager-numbers .k-current-page .k-link:hover,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover {
    border-color: $wow;
    background-image: none;
    background-image: none, -webkit-linear-gradient(top, none);
    background-image: none, -moz-linear-gradient(top, none);
    background-image: none, -o-linear-gradient(top, none);
    background-image: none, linear-gradient(to bottom, none);
    background-color: $wow;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view > .k-link {
    color: $nearWhite;
    min-width: 75px;
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views > li.k-current-view:hover > .k-link {
    color: $nearWhite;
  }
  .k-webkit .k-pager-numbers .k-current-page .k-link:after,
  .k-ff .k-pager-numbers .k-current-page .k-link:after,
  .k-ie11 .k-pager-numbers .k-current-page .k-link:after,
  .k-webkit .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ff .k-scheduler-views > li.k-state-selected > .k-link:after,
  .k-ie11 .k-scheduler-views > li.k-state-selected > .k-link:after {
    display: block;
    content: "";
    position: absolute;
    top: 50%;
    margin-top: -0.5em;
    right: 0.333em;
    width: 1.333em;
    height: 1.333em;
  }
  .k-webkit .k-pager-numbers.k-state-expanded,
  .k-ff .k-pager-numbers.k-state-expanded,
  .k-ie11 .k-pager-numbers.k-state-expanded,
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px 1px 0 1px;
    border-style: solid;
    border-color: $darkerGrey;
    background-color: $black;
    border-radius: 0px 0px 0 0;
    -webkit-box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.0980392);
    box-shadow: 0 2px 2px 0 rgba(255, 255, 255, 0.0980392);
  }
  .k-webkit .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ff .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded,
  .k-ie11 .k-scheduler-toolbar > ul.k-scheduler-views.k-state-expanded {
    border-width: 1px;
    background-image: none;
    border-radius: 0px;
  }
  .k-webkit .k-pager-numbers .k-state-selected,
  .k-ff .k-pager-numbers .k-state-selected,
  .k-ie11 .k-pager-numbers .k-state-selected,
  .k-webkit .k-pager-numbers .k-link,
  .k-ff .k-pager-numbers .k-link,
  .k-ie11 .k-pager-numbers .k-link {
    border-radius: 0;
  }
}
