h1,
h3,
h4,
nav,
.btn {
  text-transform: uppercase;
}

h2 {
  color: $green;
  font-family: 'BrownLight';
}

nav {
  font-family: 'BrownLight';
}

.btn {
  font-family: 'BrownBold';
}

.highlight {
  color: $green;
}
